<!-- Stripe Form (tw_payment) -->
<f:form method="post" objectName="transaction" object="{transaction}" action="charge" id="payment">

    <f:render partial="Transaction/Properties" arguments="{transaction:transaction}"/>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <f:form.hidden property="token" id="token"/>
    <f:form.hidden property="created" id="created"/>
    <f:form.hidden property="ip" id="ip"/>

    <button type="button" class="button" id="pay">
        <f:translate key="transaction.pay"/>
    </button>

</f:form>
