<script>
    var stripeElement = document.getElementById('stripe');
    var stripe = StripeCheckout.configure({
        key: stripeElement.getAttribute('data-key'),
        image: stripeElement.getAttribute('data-image') ? stripeElement.getAttribute('data-image'): null,
        locale: stripeElement.getAttribute('data-locale'),
        token: function (token) {
            var created = new Date(token.created * 1000);
            var createdIso = created.getUTCFullYear() + '-' + ('0' + created.getUTCMonth()).substr(-2) + '-' + ('0' + created.getUTCDate()).substr(-2);
            createdIso += 'T' + ('0' + created.getUTCHours()).substr(-2) + ':' + ('0' + created.getUTCMinutes()).substr(-2) + ':' + ('0' + created.getUTCSeconds()).substr(-2);
            createdIso += 'Z';
            $('#token').val(token.id);
            $('#ip').val(token.client_ip);
            $('#created').val(createdIso);
            $('#payment').submit();
        }
    });

    $('#pay').on('click', function (e) {
        stripe.open({
            name: stripeElement.getAttribute('data-name'),
            description: stripeElement.getAttribute('data-description'),
            zipCode: true,
            currency: stripeElement.getAttribute('data-currency'),
            amount: Number(stripeElement.getAttribute('data-amount'))
        });
        e.preventDefault();
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function () {
        stripe.close();
    });
</script>