{namespace tw=Tollwerk\TwPayment\ViewHelpers}


<f:form.validationResults for="newTransaction.sender">
	<f:if condition="{validationResults.flattenedErrors}">
		<f:then><label class="error"></f:then>
		<f:else><label></f:else>
	</f:if>
</f:form.validationResults>
	<span><f:translate key="tx_twpayment_domain_model_transaction.sender" /></span><f:form.textfield property="sender" placeholder="{f:translate(key: 'tx_twpayment_domain_model_transaction.sender.placeholder')}" />
</label>

<f:form.validationResults for="newTransaction.amount">
	<f:if condition="{validationResults.flattenedErrors}">
		<f:then><label class="error"></f:then>
		<f:else><label></f:else>
	</f:if>
</f:form.validationResults>
	<span><f:translate key="tx_twpayment_domain_model_transaction.amount" /></span><tw:form.numberfield property="amount" placeholder="{f:translate(key: 'tx_twpayment_domain_model_transaction.amount.placeholder')}" type="number" min="0" step="0.01"/>
</label>

<f:form.validationResults for="newTransaction.currency">
	<f:if condition="{validationResults.flattenedErrors}">
		<f:then><label class="error"></f:then>
		<f:else><label></f:else>
	</f:if>
</f:form.validationResults>
	<span><f:translate key="tx_twpayment_domain_model_transaction.currency" /></span><f:form.select property="currency" options="{currencies}" optionLabelField="isoCodeA3" />
</label>

<f:form.validationResults for="newTransaction.description">
	<f:if condition="{validationResults.flattenedErrors}">
		<f:then><label class="error"></f:then>
		<f:else><label></f:else>
	</f:if>
</f:form.validationResults>
	<span><f:translate key="tx_twpayment_domain_model_transaction.description" /></span><f:form.textfield property="description" placeholder="{f:translate(key: 'tx_twpayment_domain_model_transaction.description.placeholder')}"/>
</label>