
<label for="sender">
	<f:translate key="tx_twpayment_domain_model_transaction.sender" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="sender" /><br />
<label for="amount">
	<f:translate key="tx_twpayment_domain_model_transaction.amount" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="amount" /><br />
<label for="description">
	<f:translate key="tx_twpayment_domain_model_transaction.description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="description" /><br />
<label for="template">
	<f:translate key="tx_twpayment_domain_model_transaction.template" />
</label><br />
	<f:form.checkbox property="template" value="1" /><br />
<label for="token">
	<f:translate key="tx_twpayment_domain_model_transaction.token" />
</label><br />
	<f:form.textfield property="token" /><br />
<label for="created">
	<f:translate key="tx_twpayment_domain_model_transaction.created" />
</label><br />
	<f:form.textfield property="created"  value="{transaction.created->f:format.date()}" /><br />
<label for="error">
	<f:translate key="tx_twpayment_domain_model_transaction.error" />
</label><br />
	<f:form.textarea property="error" cols="40" rows="15" /><br />
<label for="charged">
	<f:translate key="tx_twpayment_domain_model_transaction.charged" />
</label><br />
	<f:form.textfield property="charged"  value="{transaction.charged->f:format.date()}" /><br />