
<table class="tx-tw-payment" >
	<tr>
		<td class="label">
			<f:translate key="tx_twpayment_domain_model_transaction.sender" />
		</td>
		<td class="value">
		{transaction.sender}
		</td>
	</tr>
	<tr>
		<td class="label">
			<f:translate key="tx_twpayment_domain_model_transaction.amount" />
		</td>
		<td class="value">
		{transaction.amount -> f:format.number(decimals: 2, decimalSeparator: '{f:translate(key: \'transaction.number.decimal\')}', thousandsSeparator: '{f:translate(key: \'transaction.number.thousands\')}')} {transaction.currency.isoCodeA3}
		</td>
	</tr>
	<tr>
		<td class="label">
			<f:translate key="tx_twpayment_domain_model_transaction.description" />
		</td>
		<td class="value">
		{transaction.description}
		</td>
	</tr>
</table>