<f:layout name="Default"/>

<f:section name="main">
    <div id="stripe"
         data-key="{settings.publishableKey}"
         data-session-id="{checkoutSession.id}" about=""
         data-image="{settings.logo}"
         data-name="{f:translate(key: 'transaction.pay.name')}"
         data-description="{f:translate(key: 'transaction.pay.description')}"
         data-currency="{transaction.currency.isoCodeA3}"
         data-amount="{transaction.amountAsInt}"
         data-locale="{locale}"
    >

        <f:flashMessages/>
        <f:if condition="{transaction.charged}">
            <f:then>
                <f:render partial="Elements/TitleText/Title"
                          arguments="{title: '{f:translate(key: \'transaction.show.header\')}', subtitle: '{f:translate(key: \'transaction.charge.description.charged\')}'}"/>
            </f:then>
            <f:else>
                <f:render partial="Elements/TitleText/Title"
                          arguments="{title: '{f:translate(key: \'transaction.show.header\')}', subtitle: '{f:translate(key: \'transaction.show.description\')}'}"/>
                <f:render partial="Transaction/Show/Form" arguments="{_all}"/>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripeElement = document.getElementById('stripe');
                    var stripe = Stripe(stripeElement.getAttribute('data-key'));
                    $('#pay')
                        .on('click', function (e) {
                            stripe.redirectToCheckout({
                                sessionId: stripeElement.getAttribute('data-session-id')
                            });
                        });
                </script>

            </f:else>
        </f:if>
    </div>

</f:section>

