<f:layout name="Default"/>

<f:section name="main">
    <div id="stripe"
         data-key="{settings.publishableKey}"
         data-image="{settings.logo}"
         data-name="{f:translate(key: 'transaction.pay.name')}"
         data-description="{f:translate(key: 'transaction.pay.description')}"
         data-currency="{transaction.currency.isoCodeA3}"
         data-amount="{transaction.amountAsInt}"
         data-locale="{locale}"
    >
        <h1>
            <f:translate key="transaction.show.header"/>
        </h1>
        <f:render partial="Transaction/Show/Form" arguments="{_all}"/>
        <f:render partial="Transaction/Show/Javascript" arguments="{_all}"/>
    </div>
</f:section>
